.section-container {
  background-color: $home-beige;
  color: $text-dark;
  width: 100%;
}

.section-one {
  height: 611px;
  //max-width: 1440px;
  margin: 0 0 0 $padding-right;
  padding: 40px 0 0 0;
  overflow: hidden;

  &__heading {
    font-family: Gordita-Medium;
    line-height: 1.3;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 0;
    width: 351px;
    &:before {
      content: "";
      background: url(../img/A.svg) no-repeat;
      display: inline-block;
      transform: translateX(4px);
      height: 51px; /* Set it to your needs */
      width: 42px;
    }
  }

  &__sub-heading {
    font-family: Gordita-Regular;
    line-height: 1.5;
    font-size: 50px;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 55px;
    width: 450px;
  }

  &__cta {
    font-family: Gordita-Medium;
    font-size: 13px;
    &:after {
      content: "";
      background: url(../img/arrow_small.svg) no-repeat;
      transform: rotateY(180deg) translateY(1px);
      display: inline-block;
      height: 11px; /* Set it to your needs */
      width: 50px;
      margin: 0 0 0 25px;
    }
  }

  &__img-building {
    width: 850px;
    height: 700px;
    position: relative;
    transform: translateY(-370px);
    float: right;
    background-image: url(../img/homepage1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
