// .is-selected {
// }
// .flickity-viewport {
//   height: 80vh;
// }
// div.carousel-cell.is-selected {
//   margin-right: 10px;
//   .inner {
//     .title {
//       opacity: 1;
//       transition: opacity 0.4s;
//     }
//   }
// }
// div.carousel-cell {
//   margin-left: 10px;
// }

.hero-slider {
  width: 100%;
  height: 60vh;
  transition: 1s;
  .carousel-cell {
    transition: 1s;
    margin-left: 10px;
    width: 90%;
    height: 67vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include tablet {
      // height: 412px;
    }

    @include mobile {
      // height: 412px;
    }

    @include small-mobile {
      // height: 352px;
    }
    &:not(.is-selected) .inner .title {
      opacity: 0;
      transition: opacity 0.4s;
    }

    .is-selected {
      
      margin-right: 10px;
      .inner {
        .title {
          opacity: 1;
          transition: opacity 0.4s;
        }
      }
    }

    .inner {
      position: relative;
      top: 67vh;
      color: $mine-shaft;
      text-align: center;
      z-index: 20;
      transition: 1s;

      @include tablet {
        // top: 410px;
      }

      @include mobile {
        // top: 410px;
      }

      @include small-mobile {
        // top: 350px;
      }

      .title {
        font-size: 28px;
        text-align: left;
        color: $mine-shaft;
        font-family: Gordita-Medium;
        line-height: 1.2em;
        letter-spacing: 1px;
        margin-bottom: 40px;

        @include tablet {
          font-size: 25px;
        }
  
        @include mobile {
          font-size: 22px;
        }
  
        @include small-mobile {
          font-size: 16px;
        }
      }

      
      .btn {
        border: 1px solid #fff;
        padding: 14px 18px;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 3px;
        color: #fff;
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
  }
  .flickity-button.previous {
    left: 91%;

    @include tablet {
      left: 87%;
    }

    @include mobile {
      left: 87%;
    }

    @include small-mobile {
      left: 77%;
    }
  }
  .flickity-prev-next-button {
    top: 73vh;
    width: 40px;
    height: 40px;

    @include tablet {
      // top: 444px;
    }

    @include mobile {
      // top: 444px;
    }

    @include small-mobile {
      // top: 403px;
    }

    background: transparent;
    &:hover {
      background: transparent;
    }
    .arrow {
      fill: black;
    }
  }
  .flickity-page-dots {
    bottom: 30px;
    .dot {
      width: 30px;
      height: 4px;
      opacity: 1;
      background: rgba(255, 255, 255, 0.5);
      border: 0 solid white;
      border-radius: 0;
      &.is-selected {
        background: #ff0000;
        border: 0 solid #ff0000;
      }
    }
  }
}
