.more-info {
  position: relative;
  width: 100%;
  height: 584px;
  background-color: $home-bizarre;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 50px;
  @include tablet {
    height: auto;
  }
  @include mobile {
    height: auto;
  }
  @include small-mobile {
    height: auto;
  }
  &__left {
    max-width: 50%;
    min-width: 202px;
    @include mobile {
      max-width: 45%;
    }
    @include small-mobile {
      max-width: 90%;
    }
  }

  &__header {
    padding: 50px 10vw 0 10vw;
    float: right;
    right: 10%;
    font-size: 50px;
    font-family: Gordita-Medium;
    color: $text-dark-blue;

    @include tablet {
      padding: 50px 0px 0 65px;
      font-size: 30px;
    }

    @include mobile {
      padding: 50px 0px 0 65px;
      font-size: 30px;
    }

    @include small-mobile {
      padding: 50px 0px 0 30px;
      font-size: 25px;
    }
  }

  &__right {
    font-family: Gordita-Light;
    width: 45%;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1.1px;
    font-weight: 100;
    padding: 94px 20px 0 20px;
    //min-width: 202px;
    //padding: 0 20px 0 80px;

    @include tablet {
      max-width: 35%;
      padding: 76px 0px 0 65px;
      font-size: 15px;
    }

    @include mobile {
      max-width: 35%;
      padding: 76px 0px 0 55px;
      font-size: 15px;
    }

    @include small-mobile {
      width: 95%;
      padding: 0px 20px 0 30px;
      font-size: 15px;
    }
  }


  &__text {
    
    margin-bottom: 40px;
    max-width: 460px;
  }
}

//Slider
.position-slides2 {
  height: 801px;
  margin: 0 0 0 0px;
  padding: 0px 0 0px 0px;
  opacity: 1;
  transition: 1s;
}
.hide-on-small-mobile {
  @include small-mobile {
    display: none;
  }
}

.show-slides2 {
  padding: 0;
  opacity: 1;
  transition: 1s;
}

.container-team {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.header-team {
  height: 130px;
}

.extra-height {
  min-height: calc(90vw*(6.6/16));
  // height: 700px;
  width: 100%;
  position: relative;
  display: block;

  @include tablet {
    // height: 550px;
  }

  @include mobile {
    min-height: calc(60vw*(12/16));
    // height: 488px;
  }

  @include small-mobile {
    min-height: 0px;
    height: 0px;
  }
}
.blurb-title {
  margin-top: 0;
}
.overlay {
  opacity: 0;
  top: 0;
  visibility: hidden;
  position: absolute;
  width: 50vw;
  top: 0vw;

  font-family: Gordita-Light;
  z-index: 999;
  transition: opacity 1s;
  

  .copy {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f5f5f5;
    line-height: 1.4;
    font-size: calc(4px + 0.5vw);
    line-height: calc(1.1em + 0.7vw);
    // height: 432px;
   
    min-height: calc(60vw*(9/16));
    //padding: 75px;
    z-index: 999;

    @include tablet {
      min-height: calc(60vw*(9/16));
      // padding: 65px 25px 0;
      // height: 435px;
    }

    @include mobile {
      min-height: calc(60vw*(12/16));
      // padding: 65px 25px 0;
    }

    @include small-mobile {
      height: 251px;
      padding: 65px 25px 0;
    }
  }

  .seethrough {
    background-color: white;
    height: 200px;
    opacity: 0.8;
  }
}

.rotate45 {
  transform: rotate(-45deg);
}

.hidden {
  visibility: none;
}

.visibleL {
  top:0;
  opacity: 1;
  transition: opacity 1s;
  position: absolute;
  visibility: initial;
  left: -50vw;
  z-index: 90;
}

.visibleR {
  top:0;
  opacity: 1;
  transition: 1s;
  position: absolute;
  visibility: initial;
  left: 50vw;
  z-index: 90;
}

.clickOff {
  top: 0;
  //background-color: red;
  width: 100%;
  height: 1200px;
  z-index: 29;
  position: absolute;
  visibility: hidden;
}

.visible {
  visibility: initial;
}

.mobile-content {
  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }

  height: auto;

  &__container {
  }

  &__person1 {
  }

  &__person1-img {
    height: 0;
    padding-top: 60%;
    background-color: $home-gallery;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }

  &__person1-header {
    position: relative;
    padding: 30px;
    padding-bottom: 0;
    margin: 0 auto;
  }

  &__person1-title {
    font-size: 15px;
    font-family: Gordita-Medium;
    line-height: 1.2em;

    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  &__person1-email {
    font-size: 13px;
    font-family: Gordita-Regular;
  }

  &__person1-body {
    font-size: 12px;
    font-family: Gordita-Light;
    line-height: 1.2em;
    padding: 30px;
    padding-top: 5px;

    letter-spacing: 1px;
    margin-bottom: 10px;
    background-color: #fff;
  }
}


// #overlayting{
//   background-image: url("../img/delete.png");
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: 0% 0%;
//   opacity: 0.4;
//   background-color: #cccccc;
//   height: 2000px;
//   width: 100%;

// }