///////3 navigation dots///////
.navigator {
  position: fixed;
  width: 12px;
  height: 120px;
  background: url(../img/scroll-inner.svg) no-repeat;
  top: 61%;
  left: 50px;
  transition: 1s;

  @include mobile {
    display: none;
  }

  @include small-mobile {
    display: none;
  }
}

.nav-circle {
  position: fixed;
  width: 12px;
  height: 48px;
  background: url(../img/scroll-outer.svg) no-repeat;
  top: 61%;
  left: 50px;
  opacity: 0;
  transition: 1s;

  @include mobile {
    display: none;
  }

  @include small-mobile {
    display: none;
  }
}

.gal1 {
  transform: translateY(0px);
  opacity: 1;
  transition: 1s;
}

.gal2 {
  transform: translateY(20px);
  opacity: 1;
  transition: 1s;
}

.gal3 {
  transform: translateY(40px);
  opacity: 1;
  transition: 1s;
}

.gal4 {
  transform: translateY(60px);
  opacity: 1;
  transition: 1s;
}

.gal5 {
  transform: translateY(80px);
  opacity: 1;
  transition: 1s;
}

.gal6 {
  transform: translateY(100px);
  opacity: 1;
  transition: 1s;
}

.hide {
  opacity: 0;
  transition: 1s;
}

/////////////////////////////

.position-slides {
  margin: 0 0 0 158px;
  padding: 20px 0 20px 100px;
  opacity: 0.4;
  transition: 1s;

  @include tablet {
    height: 462px;
  }

  @include mobile {
    height: 462px;
    margin: 0 0 0 10px;
    padding: 20px 0 20px 0px;
  }

  @include small-mobile {
    height: 422px;
    margin: 0 0 0 10px;
    padding: 20px 0 20px 0px;
  }
}

.show-slides {
  height: 75vh!important;
  padding: 0;
  opacity: 1;
  transition: 1s;
}


.whitebg {
  background-color: #ffffff;

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 20px;
  }

  @include small-mobile {
    margin-bottom: 20px;
  }
}

.header-products {
  position: relative;
  color: $text-dark;
  width: 100%;
  height: 141px;
  z-index: 2;

  &__container {
    border: 0px solid black;
    //max-width: 1440px;
    position: relative;
    margin: 0 $padding-right;
    @include small-mobile {
      margin: 0 20px;
    }
  }

  &__top {
    position: relative;
    display: flex;
    padding: 30px 0 23px;
    @include small-mobile {
      padding-bottom: 32px;
      padding-left: 0;
    }
  }

  &__menu {
    display: flex;

    align-items: center;
    display: inline-block;
    width: 50%;
  }

  &__burger {
    position: relative;
    float: left;
    width: 25px;
    margin-top: 2px;
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line1 {
      width: 80%;
      height: 1px;
      background-color: #d8d8d8;
    }

    .line2 {
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
    }

    .line3 {
      width: 60%;
      height: 1px;
      background-color: #d8d8d8;
    }
  }

  &__burger-text {
    text-decoration: none;
    color: $mine-shaft;
    font-family: Gordita-Medium;
    font-size: 13px;
    margin-left: 10px;
    height: 20px;
    //line-height: 1.5;
    position: relative;
    @include small-mobile {
      display: none;
    }
    &:hover {
      color:#0d5071;
      transition: 0.2s;
    }
  }

  &__logo {
    transform: translateY(-31px);
    background-color: $home-gallery;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
    display: block;
    width: 222px;
    height: 64px;
    background: url(../img/logo.svg) no-repeat;
    @include small-mobile {
      width: 165px;
    }
  }
}

//maps stuff
#map {
  height: 811px;
  @include tablet {
    height: 650px;
  }

  @include mobile {
    height: 600px;
  }
  @include small-mobile {
    height: 500px;
  }
}

.map-container {
  position: relative;
}

.info-window {
  
  font-family: Gordita-Regular;
  display: inline-block;
  position: absolute;
  max-width: 290px;
  background-color: #fff;
  top: 60px;
  left: 43px;
  z-index: 9999;

  @include tablet {
    top: 0;
    left: 0;
    max-width: 250px;
  }

  @include mobile {
    top: 0;
    left: 0;
    max-width: 100%;
    height: 185px;
  }

  @include small-mobile {
    top: 0;
    left: 0;
    max-width: 100%;
    height: 185px;
  }

  &__image {
    width: 100%;
    height: 170px;
    float: left;
    background-position: 50% 50%;
    background-repeat: none;
    background-size: cover;
    margin-bottom: 20px;

    @include mobile {
      display: inline-block;
      width: 50%;
      height: 185px;
    }
    @include small-mobile {
      display: inline-block;
      width: 50%;
      height: 185px;
    }
  }

  &__copy-container {
    @include mobile {
      display: inline-block;
      width: 50%;
      margin: 0px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    @include small-mobile {
      display: inline-block;
      width: 50%;
      margin: 0px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  &__heading {
    color: $text-dark-blue;
    font-size: 20px;
    margin: 20px;

    @include mobile {
      display: inline-block;
      font-size: 15px;
      width: 40%;
      margin: 0px;
      padding-bottom: 15px;
      padding-left: 4%;
    }

    @include small-mobile {
      display: inline-block;
      font-size: 15px;
      width: 80%;
      margin: 0px;
      padding-bottom: 15px;
      padding-left: 4%;
    }
  }

  &__copy {
    font-size: 14px;
    margin: 20px;
    @include tablet {
      font-size: 14px;
      display: inline-block;
      //width: 40%;
      margin: 0px;
      padding-bottom: 10px;
      padding-left: 8%;
      padding-right: 10%;
    }

    @include mobile {
      font-size: 12px;
      display: inline-block;
      //width: 40%;
      margin: 0px;
      padding-bottom: 10px;
      padding-left: 4%;
      padding-right: 10%;
    }

    @include small-mobile {
      font-size: 12px;
      display: inline-block;
      //width: 40%;
      margin: 0px;
      padding-bottom: 10px;
      padding-left: 4%;
      padding-right: 10%;
    }
  }

  &__getintouch {
    font-size: 14px;
    margin: 20px;
    margin-right: 40%;
    margin-bottom: 40px;
    @include tablet {
      margin-right: 10%;
    }

    @include mobile {
      font-size: 10px;
      display: inline-block;
      width: 60%;
      margin: 0px;
      padding-left: 4%;
    }
    @include small-mobile {
      font-size: 10px;
      display: inline-block;
      width: 80%;
      margin: 0px;
      padding-left: 4%;
    }

    a {
      color: $text-dark-blue;
      cursor: pointer;
    }
  }
}

#map {
  background-image: url(../img/map-fallback.png);
  background-position: 50% 50%;
  background-size: cover;
}


@keyframes slidein {
  from {
    margin-top: 5%;
    opacity: 0;
  }

  to {
    
  }
}

.animateInfo {
  animation-duration: 0.6s;
  animation-name: slidein;
}

