.hero-slider-projects {
  width: 100%;
  height: 801px;

  .flickity-viewport {
    width: 100%;
  }
  .carousel-cell {
    // margin-left: 0px;
    // width: 50%;
    // height: 580px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center bottom;

    margin-left: 0px;
    width: 50%;
    height: 580px;
    background-color: $home-gallery;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

    @include tablet {
      height: auto;
      min-height: 500px;
      background-position: center bottom;
    }

    @include mobile {
      //margin-top: 60px;
      height: 440px;
      background-position: center bottom;
    }

    @include small-mobile {
      //margin-top: 90px;
      height: 315px;
      background-position: center bottom;
    }

    .button {
      position: relative;
      width: 222px;
      height: 33px;
      top: 520px;
      left: 40px;
      background-color: #ffffff;
      z-index: 28;
      display: flex;
      align-items: center;
      justify-content: center;
      @include tablet {
        top: 440px;
        width: 182px;
      }

      @include mobile {
        top: 385px;
        width: 182px;
      }

      @include small-mobile {
        top: 285px;
        width: 60%;
        height: 22px;
        left: 10px;
      }
      &:hover {
        cursor: pointer;
      }
      .svg-plus-minus {
        width: 10px;
        height: 11px;
        text-align: center;
        z-index: 25;
        background-image: url(../img/X.svg);
        transform: rotate(45deg);
      }
    }
    .inner {
      position: relative;
      top: 617px;
      left: 140px;
      color: $mine-shaft;
      text-align: left;
      z-index: 20;

      @include tablet {
        left: 45px;
        top: 517px;
      }

      @include mobile {
        top: 455px;
        left: 45px;
      }

      @include small-mobile {
        top: 350px;
        left: 10px;
      }

      .title {
        font-size: 15px;
        font-family: Gordita-Medium;
        line-height: 1.2em;
        letter-spacing: 1px;
        margin-bottom: 10px;
        @include mobile {
          font-size: 13px;
        }

        @include small-mobile {
          font-size: 13px;
        }
      }
      .email {
        font-size: 15px;
        font-family: Gordita-Regular;
        @include mobile {
          font-size: 11px;
        }

        @include small-mobile {
          font-size: 8px;
        }
      }
      // .btn {
      //   border: 1px solid #fff;
      //   padding: 14px 18px;
      //   text-transform: uppercase;
      //   font-size: 0.8rem;
      //   letter-spacing: 3px;
      //   color: #fff;
      //   text-decoration: none;
      //   transition: all 0.2s ease;
      //   &:hover {
      //     background: #fff;
      //     color: #000;
      //   }
      // }
    }
  }
  .flickity-button.previous {
    left: 88%;
    @include tablet {
      left: 82%;
    }

    @include mobile {
      left: 82%;
    }

    @include small-mobile {
      left: 76%;
    }
  }
  .flickity-button.next {
    left: 92%;
    @include tablet {
      left: 88%;
    }

    @include mobile {
      left: 89%;
    }

    @include small-mobile {
      left: 86%;
    }
  }
  .flickity-prev-next-button {
    top: 630px;
    width: 40px;
    height: 40px;
    background: transparent;
    @include tablet {
      top: 540px;
    }

    @include mobile {
      top: 470px;
    }

    @include small-mobile {
      top: 350px;
    }
    &:hover {
      background: transparent;
    }
    .arrow {
      fill: black;
    }
  }
  .flickity-page-dots {
    bottom: 30px;
    .dot {
      width: 30px;
      height: 4px;
      opacity: 1;
      background: rgba(255, 255, 255, 0.5);
      border: 0 solid white;
      border-radius: 0;
      &.is-selected {
        background: #ff0000;
        border: 0 solid #ff0000;
      }
    }
  }
}
