/////////////// SECTION 1 /////////////

.container-one {
  background-color: $home-gallery;
  color: $text-dark;
  width: 100%;
  height:85vh;
  @include tablet {
   
  }

  @include mobile {
    
  }

  @include small-mobile {
    background-size: 40vw 35vh;
  }
}
.container-one-index {
  background-color: $home-gallery;
  color: $text-dark;
  width: 100%;
  height:85vh;
  background-image: url(../img/homepage1.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 60vw 60vh;
  @include tablet {
   
  }

  @include mobile {
    
  }

  @include small-mobile {
    background-size: 40vw 35vh;
  }
}

.section-one-home {
  height:85vh;
  // height: 605px;
  //height:60vh;
  margin: 0 0 0 $padding-right;
  padding: 40px 0 0 0;
  overflow: hidden;
  display: block;
  position: relative;

  @include tablet {
    // height: 395px;
    //height:90vh;
  }

  @include mobile {
    // height: 395px;
    //height:90vh;
  }

  @include small-mobile {
    // height: 395px;
    //height:90vh;
    padding: 20px 0 0 0;
  }

  &__heading {
    //sssssssssss
    font-family: Gordita-Medium;
    line-height: 1.3;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 0;
    max-width: 501px;

    @include tablet {
      font-size: 30px;
      max-width: 350px;
    }

    @include mobile {
      font-size: 25px;
      max-width: 350px;
    }

    @include small-mobile {
      font-size: 20px;
      max-width: 250px;
      padding-right: 20px;
    }

    &:before {
      content: "";
      background: url(../img/A.svg) no-repeat;
      display: inline-block;
      transform: translateX(4px);
      height: 52px;
      width: 44px;

      @include tablet {
        height: 33px;
        width: 28px;
      }

      @include mobile {
        height: 27px;
        width: 22px;
      }

      @include small-mobile {
        height: 23px;
        width: 19px;
        transform: translateX(0px);
      }
    }
  }

  &__sub-heading {
    font-family: Gordita-Regular;
    line-height: 1.5;
    font-size: 50px;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 55px;
    max-width: 400px;

    @include tablet {
      font-size: 16px;
      max-width: 350px;
    }

    @include mobile {
      font-size: 14px;
      max-width: 300px;
    }

    @include small-mobile {
      font-size: 14px;
      max-width: 200px;
    }
  }

  &__cta {
    font-family: Gordita-Medium;
    font-size: 13px;

    @include tablet {
      font-size: 10px;
    }

    @include mobile {
      font-size: 10px;
    }

    @include small-mobile {
      font-size: 10px;
    }

    &:after {
      content: "";
      background: url(../img/arrow_small.svg) no-repeat;
      transform: rotateY(180deg) translateY(1px);
      display: inline-block;
      height: 11px;
      width: 50px;
      margin: 0 0 0 25px;

      @include tablet {
        height: 9px;
        margin: 0 0 0 10px;
      }

      @include mobile {
        height: 9px;
        margin: 0 0 0 10px;
      }

      @include small-mobile {
        height: 9px;
        margin: 0 0 0 10px;
      }
    }
  }

  &__img-building {
    z-index: 0;
    width: 70vw;
    height: 500px;
    max-width: 800px;
    position: relative;
    padding-top: 0%;
    margin-top: -0%;
    margin-left: auto;
    z-index: 0;
    //transform: translateY(0px) translateX(-00px);
    background-image: url(../img/homepage1.png);
    background-repeat: no-repeat;
    background-position: contain;
    // background-size: 100%;

    // @include wide-desktop {
    //   padding-top: 0%;
    //   margin-top: 5%;
    //   //height: 580px;
    //   transform: translateY(-350px) translateX(0px);
    //   left: 40%;
    // }

    @include tablet {
      padding-top: 47%;
      margin-top: -47%;
    }
    @include mobile {
      padding-top: 45%;
      margin-top: -45%;
    }
    @include small-mobile {
      padding-top: 55%;
      margin-top: -70%;
      width: 100%;
      left: 15%;
    }
  }
}

/////////////// SECTION 2 /////////////

.container-two {
  background-color: #f3efeb;
  color: $text-dark;
  width: 100%;
  height:90vh;
  @include tablet {
    background-size: 80vw 40vh;
  }

  @include mobile {
    background-size: 100vw 50vh;
  }

  @include small-mobile {
    background-size: 80vw 25vh;
    
  }
}

.container-two-index {
  background-color: #f3efeb;
  color: $text-dark;
  width: 100%;
  height:90vh;
  background-image: url(../img/homepage2.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 160%;
  background-size: 80vw 60vh;
  @include tablet {
    background-size: 80vw 40vh;
  }

  @include mobile {
    background-size: 100vw 50vh;
  }

  @include small-mobile {
    background-size: 80vw 25vh;
    
  }
}

.section-two {
 
  margin: 0 0 0 $padding-right;
  padding: 40px 2 0 0;
  overflow: hidden;

  @include tablet {
 
  }

  @include mobile {
  
  }

  @include small-mobile {
 
  }

  &__heading {
    //ssssssssssssssss
    color: $mine-shaft;
    font-family: Gordita-Medium;
    line-height: 1.3;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-top: 210px;
    max-width: 403px;

    @include tablet {
      padding-top: 150px;
      font-size: 30px;
      max-width: 350px;
    }

    @include mobile {
      font-size: 25px;
      max-width: 350px;
      padding-top: 160px;
    }

    @include small-mobile {
      padding-top: 100px;
      font-size: 20px;
      max-width: 300px;
    }

    &:before {
      content: "";
      background: url(../img/A2.svg) no-repeat;
      display: inline-block;
      transform: translateX(4px);
      margin-right: -10px;
      height: 52px;
      width: 44px;

      @include tablet {
        height: 35px;
        width: 28px;
        margin-right: -4px;
      }

      @include mobile {
        height: 26px;
    width: 21px;
    margin-right: -3px;
      }

      @include small-mobile {
        height: 24px;
        width: 20px;
        margin-right: -6px;
        transform: translateX(0px);
      }
    }
  }

  &__sub-heading {
    font-family: Gordita-Regular;
    line-height: 1.5;
    font-size: 50px;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 55px;
    max-width: 450px;

    @include tablet {
      font-size: 16px;
      max-width: 350px;
    }

    @include mobile {
      font-size: 14px;
      max-width: 300px;
    }

    @include small-mobile {
      font-size: 14px;
      max-width: 200px;
    }
  }

  &__cta {
    font-family: Gordita-Medium;
    font-size: 13px;

    @include tablet {
      font-size: 10px;
    }

    @include mobile {
      font-size: 10px;
    }

    @include small-mobile {
      font-size: 10px;
    }

    &:after {
      content: "";
      background: url(../img/arrow_small.svg) no-repeat;
      transform: rotateY(180deg) translateY(1px);
      display: inline-block;
      height: 11px;
      width: 50px;
      margin: 0 0 0 25px;

      @include tablet {
        height: 9px;
        margin: 0 0 0 10px;
      }

      @include mobile {
        height: 9px;
        margin: 0 0 0 10px;
      }

      @include small-mobile {
        height: 9px;
        margin: 0 0 0 10px;
      }
    }
  }
}

/////////////// SECTION 3 /////////////

.container-three {
  background-color: $home-bizarre;
  color: $mine-shaft;
  width: 100%;
  height:90vh;
  @include tablet {
    background-size: 100vw 40vh;
  }

  @include mobile {
    background-size: 100vw 30vh;
  }

  @include small-mobile {
    background-size: 100vw 20vh;
  }
}

.container-three-index {
  background-color: $home-bizarre;
  color: $mine-shaft;
  width: 100%;
  height:90vh;
  background-image: url(../img/homepage3.png);
  background-repeat: no-repeat;
  background-position: 100% 200%;
  background-size: 100vw 50vh;
  @include tablet {
    background-size: 100vw 40vh;
  }

  @include mobile {
    background-size: 100vw 30vh;
  }

  @include small-mobile {
    background-size: 100vw 20vh;
  }
}

.section-three {
  
  margin: 0;

  @include tablet {
   
  }

  @include mobile {
    
  }

  @include small-mobile {
   
  }

  &__heading {
    color: $mine-shaft;
    font-family: Gordita-Medium;
    line-height: 1.3;
    font-size: 50px;
    margin: 0 0 30px $padding-right;
    padding-top: 210px;
    max-width: 403px;

    @include tablet {
      padding-top: 150px;
      font-size: 30px;
      max-width: 350px;
    }

    @include mobile {
      font-size: 25px;
      max-width: 350px;
      padding-top: 160px;
    }

    @include small-mobile {
      font-size: 20px;
      max-width: 350px;
      padding-top: 100px;
    }

    &:before {
      content: "";
      background: url(../img/A3.svg) no-repeat;
      display: inline-block;
      transform: translateX(4px);
      height: 52px;
      width: 44px;

      @include tablet {
        height: 35px;
        width: 28px;
        margin-right: 0px;
      }

      @include mobile {
        height: 27px;
        width: 22px;
        margin-right: 0px;
      }

      @include small-mobile {
        height: 24px;
        width: 20px;
        margin-right: -2px;
        transform: translateX(0px);
      }
    }
  }

  &__sub-heading {
    font-family: Gordita-Regular;
    line-height: 1.5;
    font-size: 50px;
    font-size: 20px;
    margin-top: 0;
    margin: 0 0 0 $padding-right;
    padding-bottom: 55px;
    max-width: 530px;

    @include tablet {
      font-size: 16px;
      max-width: 350px;
    }

    @include mobile {
      font-size: 14px;
      max-width: 300px;
    }

    @include small-mobile {
      font-size: 14px;
      max-width: 200px;
    }
  }

  &__cta {
    font-family: Gordita-Medium;
    font-size: 13px;
    margin: 0 0 0 $padding-right;
    @include tablet {
      font-size: 10px;
    }

    @include mobile {
      font-size: 10px;
    }

    @include small-mobile {
      font-size: 10px;
    }
    &:after {
      content: "";
      background: url(../img/arrow_small.svg) no-repeat;
      transform: rotateY(180deg) translateY(1px);
      display: inline-block;
      height: 11px;
      width: 50px;
      margin: 0 0 0 25px;

      @include tablet {
        height: 9px;
        margin: 0 0 0 10px;
      }

      @include mobile {
        height: 9px;
        margin: 0 0 0 10px;
      }

      @include small-mobile {
        height: 9px;
        margin: 0 0 0 10px;
      }
    }
  }

  // &__img-building {
  //   z-index: 0;
  //   width: 100%;
  //   height: 0;
  //   padding-top: 30%;
  //   margin-top: -30%;
  //   position: relative;
  //   background-image: url(../img/homepage3.png);
  //   background-repeat: no-repeat;
  //   background-size: 100%;

  //   @include wide-desktop {
  //     padding-top: 33%;
  //     margin-top: -33%;

  //     transform: translateY(100px) translateX(0px);
  //     background-size: cover;
  //   }

  //   @include tablet {
  //     padding-top: 33%;
  //     margin-top: -33%;
  //   }
  //   @include mobile {
  //     padding-top: 34%;
  //     margin-top: -34%;
  //   }
  //   @include small-mobile {
  //     padding-top: 45%;
  //     margin-top: -45%;
  //     transform: translateY(50px);
  //   }
  // }
}
