.header-portal {
  color: $text-dark;
  width: 100%;
  height: 811px;

  @include tablet {
    height: 700px;
  }

  @include mobile {
    height: 700px;
  }

  @include small-mobile {
    height: 700px;
  }

  &__container {
    border: 0px solid black;
    //max-width: 1440px;
    position: relative;
    margin: 0 $padding-right;
  }

  &__top {
    position: relative;
    display: flex;
    padding: 30px 0 23px;

    @include small-mobile {
      padding: 30px 0 50px;
    }
  }

  &__menu {
    display: flex;

    align-items: center;
    display: inline-block;
    width: 50%;
  }

  &__burger {
    position: relative;
    float: left;
    width: 25px;
    margin-top: 2px;
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line1 {
      width: 80%;
      height: 1px;
      background-color: #d8d8d8;
    }

    .line2 {
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
    }

    .line3 {
      width: 60%;
      height: 1px;
      background-color: #d8d8d8;
    }
  }

  &__burger-text {
    text-decoration: none;
    color: $mine-shaft;
    font-family: Gordita-Medium;
    font-size: 13px;
    margin-left: 10px;
    height: 20px;
    //line-height: 1.5;
    position: relative;
  }

  &__login-text {
    font-family: Gordita-Medium;
    text-decoration: underline;
    font-size: 11px;
    width: 50%;
    position: relative;
    height: 20px;
    float: right;
    text-align: right;
    right: 10px;

    &:before {
      content: "";
      background: url(../img/lock.svg) no-repeat;
      transform: translateY(2px);
      display: inline-block;
      height: 14px;
      /* Set it to your needs */
      width: 12px;
      margin: 0px 5px 0 0;
    }
  }

  &__logo {
    background-color: $home-gallery;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
    display: block;
    width: 222px;
    height: 64px;
    background: url(../img/logo.svg) no-repeat;

    @include small-mobile {
      padding-bottom: 50px;
    }
  }

  &__logo-higher {
    transform: translateY(-31px);
    width: 191px;
    padding-bottom: 0px;
  }
}

.portal-form {
  position: relative;
  display: block;
  background-color: white;
  min-width: 100px;
  max-width: 500px;
  padding: 40px;
  font-family: Gordita-Medium;
  margin: 0 auto;

  @include small-mobile {
    margin: 0 13px;
  }

  &__heading {
    font-size: 28px;
    padding-left: 0;
    @include mobile {
      font-size: 26px;
    }
    &:before {
      content: "";
      background: url(../img/A.svg) no-repeat;
      display: inline-block;
      transform: translateX(3px);
      height: 31px;
      width: 28px;
    }
  }

  &__label {
    display: block;
    font-size: 11px;
    padding-bottom: 12px;
  }

  &__input {
    font-family: Gordita-Regular;
    color: #292929;
    display: block;
    font-size: 11px;
    margin-bottom: 32px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #0d5071;
    line-height: 2;
  }

  &__submit-btn {
    border: none;
    padding-left: 0;
    font-size: 13px;
    background: #fff;

    &:hover {
      cursor: pointer;
    }

    &:after {
      content: "";
      background: url(../img/arrow_small.svg) no-repeat;
      transform: rotateY(180deg) translateY(1px);
      display: inline-block;
      height: 11px;
      width: 50px;
      margin: 0 0 0 5px;
    }
  }

  &__footer {
    padding-top: 25px;
    width: 80%;
    letter-spacing: 0.5px;
    line-height: 1.45;
    font-size: 12px;
    font-family: Gordita-Regular;
    a {
      color: #0d5071;
    }

    @include mobile {
      width: 100%;
    }
  }
}

.full-width {
  margin: 0 0 0 0;
}
